<!DOCTYPE html>
<html ng-app="todoapp">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/todo.css"/>
    <title>TODO list</title>
</head>
<body>
<section id="todoapp" ng-controller="TodoCtrl">
    <header id="header">
        <h1>Todo APP</h1>

        <form id="todo-form" ng-submit="addTodo()">
            <input type="text" id="new-todo" placeholder="Ajouter une tâche" autocomplete="off" autofocus
                   ng-model="newTodo"/>
        </form>
        <section id="main">
            <input type="checkbox" id="toggle-all" ng-model="allChecked" ng-click="markAll(allChecked)">
            <label for="toggle-all">Tâches finies</label>
            <ul id="todo-list">
                <li ng-repeat="todo in todos | filter:statusFilter" ng-class="{completed: todo.completed}">
                    <div class="view">
                        <label for="task">{{ todo.title }}</label>
                        <input id="task" type="checkbox" class="toggle" ng-model="todo.completed"/>
                        <button class="destroy" ng-click="removeTodo(todo)"></button>
                    </div>
                </li>
            </ul>
        </section>
        <footer id="footer">
            <span id="todo-count"><strong>{{ remaining() }}
                <ng-pluralize count="remaining()"
                              when="{one: ' tâche restante', other: ' tâches restantes'}"></ng-pluralize>
            </strong></span>
            <ul id="filters">
                <li>
                    <a ng-class="{selected: status === ''}" ng-click="changeStatus('')">Toutes</a>
                </li>
                <li>
                    <a ng-class="{selected: status === 'active'}" ng-click="changeStatus('active')">Active</a>
                </li>
                <li>
                    <a ng-class="{selected: status === 'completed'}" ng-click="changeStatus('completed')">Complète</a>
                </li>
            </ul>
        </footer>
    </header>
</section>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="assets/js/todo.js"></script>
</body>
</html>