<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <title>Héritage des scopes</title>
</head>
<body ng-app="scopeapp">
<div class="container" ng-controller="ParentCtrl">
    <h1>Hello : {{ name }}</h1>

    <h1>Hello : {{ user.name }}</h1>

    <div ng-if="true" style="margin-top: 50px">
        <h4>ngIf</h4>
        name : {{ name }} <input type="text" ng-model="name"/> <br/>
        user.name : {{ user.name }} <input type="text" ng-model="user.name"/>
    </div>
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="js/scope.js"></script>
</body>
</html>